#quoteContainer {
    margin: 70px;
}

#quote {
    font-weight: 600;
    font-family: "Optima";
    text-shadow: 2px 2px 5px rgb(58, 56, 56);
    text-align: center;
}

#teaPageTitle {
    margin-left: 20px;
    font-family: "Trattatello";
    font-weight: bold;
}

#description {
    font-family: "Rockwell";
    text-shadow: 5px 5px 10px #fff,
    5px 5px 30px #fff;
    text-indent: 50px;
    text-align: left;
    font-size: 25px;
    margin: 70px;
}

#BaSingSeImg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.77;
}

#searchFormContainer {
    margin: 70px;
    background-color: #ffffff;
    border-radius: 25px;
}

#formBorder {
    margin: 50px;
}

#btn {
    font-family: "Rockwell";
}

#teaName {
    font-family: "Rockwell";
    font-size: 20px;
}

#learnMore {
    font-family: "Rockwell";
    font-size: 25px;
    font-weight: bold;
}

#searchedTea {
    margin: 50px;
    font-family: "Rockwell";
}

#searchedTea img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
}

#popularTeaContainer {
    margin: 70px;
    font-family: "Optima";
}

#popularTeaTitle {
    text-align: center;
    font-family: "Rockwell";
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 3px 0px #dbd3bd,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);
}

#popTeaContainer {
    margin-left: 425px;
}

#healthBenefitsDescription {
    font-family: "Rockwell";
    font-size: 30px;
}

.listDiv {
    font-size: 25px;
}

#lastQuote {
    font-family: "Optima";

}